{% extends "base.htm" %}
{% load static %}

{% block style %}main.css{% endblock %}
{% block header %}
    <!-- Скрываем шапку, если пользователь ещё не вошёл в игру -->
{% endblock %}
{% block content %}
    {% if user.is_authenticated is False %}
        <div class="group-logo">
            <h1>Онлайн-игра Землекоп!</h1>
            <p>Копай шахты, добывай ресурсы - стань самым богатым шахтёром в игре!</p>
            <img src="{% static 'images/logo.png' %}" alt="Логотип онлайн-игры Землекоп" class="logo">
        </div>
        <div class="group-button">
                <a href="{% url 'user:signin' %}" class="default-button">Войти</a>
                <a href="{% url 'user:signup' %}" class="default-button">Регистрация</a>
        </div>
    {%  else %}
        {% include "game/game.htm" %}
    {% endif %}
{% endblock %}