{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/user.js' %}"></script>
    <script src="{% static 'js/game.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static '/css/base.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static '/css/' %}{% block style %}{% endblock %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0">
    <title>
        {{ title }}
    </title>
</head>
<body class="container">
    {% block header %}
        <header>
                {% include "header.htm" %}
        </header>
    {% endblock %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% include "footer.htm" %}
    </footer>
</body>
</html>