{% load static %}
{% load short_format %}
<script>

    async function update()
    {
        $.getJSON('/update/', function (data)
        {
            $('#ajax_budget').html(data.budget);
            $('#ajax_income').html(data.income);
            $('#ajax_message').html(data.message);
            $('#message').attr('src', "{% static '/images/messages/' %}" + data.icon);
        }) ;
    }

    update();
    setInterval('update()', 3000);
</script>
<div class="info">
        <div class="infogroup"><div class="budget"></div><div id="ajax_budget"></div></div>
        <div class="infogroup"><div class="income"></div><div id="ajax_income"></div></div>
</div>
<div class="title">
    <h1>{{ title }}</h1>
</div>
<div class="message">
    <a href="{% url 'user:dialogs' %}"><img src="{% static '/images/messages/message.png' %}" id="message"></a>
</div>

