{% load static %}

<a href="{% url 'game:rating' %}" class="default-button">Общий</a>
<a href="{% url 'game:rating_income' %}" class="default-button">По доходу</a>
<a href="{% url 'game:rating_budget' %}" class="default-button">По бюджету</a>
<a href="{% url 'game:rating_reputation' %}" class="default-button">По репутации</a>
<div class="default-button">По глубине шахт</div>
<div class="default-button">По количеству рабочих</div>
<hr>
<a href="{% url 'game:game' %}" class="default-button">В Меню</a>