{% extends "base.htm" %}
{% load static %}
{% load paginator_offset %}
{% load short_format %}
{% load formula_efficiency %}

{% block style %}game.css{% endblock %}

{% block content %}
    <h2>По доходу</h2>
    {% for page in pages.data %}
        <div class="rating">
            <div>
                {% include 'game/rating/username.htm' %}
            </div>
            <div>
                <img src="{% static 'images/income.png' %}">({{ page.user_id|formula_efficiency|floatformat:2 }}%) {{ page.income|short_format }}
            </div>
        </div>
    {% endfor %}
    {% include 'utils/pagenator.htm' with app='game:rating_income' param1=pages  %}
    {% include 'game/rating/button.htm' %}
{% endblock %}