{% extends "base.htm" %}
{% load static %}
{% load paginator_offset %}
{% load short_format %}

{% block style %}game.css{% endblock %}

{% block content %}
    <h2>По репутации</h2>
    {% for page in pages.data %}
        <div class="rating">
            <div>
                {% include 'game/rating/username.htm' %}
            </div>
            <div>
                <img src="{% static 'images/reputation.png' %}">{{ page.reputation|short_format }}
            </div>
        </div>
    {% endfor %}
    {% include 'utils/pagenator.htm' with app='game:rating_reputation' param1=pages %}
    {% include 'game/rating/button.htm' %}
{% endblock %}