{% load static %}
{% load paginator_offset %}
{{ forloop.counter|paginator_offset:pages.data.number }}{{ page.position }}.
<a href="{% url 'user:profile' page.user_id %}">
    <img src="{% static 'images/avatars/'%}{{ page.user__avatar }}">
    {% if page.user_id == user.id %}
        <b>{{ page.user__username }}</b>
    {% else %}
        {{ page.user__username }}
    {% endif %}
</a>