{% extends "base.htm" %}
{% load static %}

{% block style %}user.css{% endblock %}

{% block content %}
    <h2>Прогресс достижений</h2>

    {% for achievement in achievements %}
        <div class="achievement">
            <div class="left">
                <img src="{% static 'images/achievements/' %}{{ achievement.image }}">
                <div>
                    <p><b>{{ achievement.name }}</b>, {{ achievement.level }} ур.</p>
                    <p>{{ achievement.description }}</p>
                </div>
            </div>
            <div class="right">
                <div>
                    <p><img src="{% static 'images/progress.png' %}">{{ achievement.progress|floatformat:1 }}%</p>
                    <p><img src="{% static 'images/diamond.png' %}">{{ achievement.reward}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'utils/game_buttons.htm' %}
{% endblock %}