{% extends "base.htm" %}
{% load static %}

{% block style %}user.css{% endblock %}

{% block content %}
    <h2>Список диалогов</h2>
    {% if pages.0.dialog.id %}
        {% for page in pages %}
           <div class="msg">
               <a href="{% url 'user:dialog_detail' page.dialog.id %}">
                   <div class="message-group">
                       <img src="{% static '/images/messages/' %}{{ page.icon }}">
                       <div class="author">{{ page.dialog }}</div>
                   </div>
                   <div class="time">{{ page.time|date:"d.m.y H:i" }}</div>
               </a>
           </div>
        {% endfor %}
    {% include 'utils/pagenator.htm' with app='user:dialogs' param1=pages %}
    {% else %}
        <p>Диалогов не найдено.</p>
    {% endif %}
    {% include 'utils/game_buttons.htm' %}
{% endblock %}