{% extends "base.htm" %}
{% load static %}

{% block style %}user.css{% endblock %}

{% block content %}
    {% if messages %}
        <p class="error">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>
   {% endif %}
    <h2>Список друзей</h2>
    {% for friend in friends %}
        <div class="friend">
            <div>
                <img src="{% static 'images/avatars/default.png' %}">
                <a href="{% url 'user:profile' friend.username.id %}">{{ friend.username }}</a>
            </div>
            <div>
                <a href="#" onclick="friend_request('{{ csrf_token }}', {{ friend.id }}, 'delete')" class="medium-button">&#10005;</a>
            </div>
        </div>
    {% empty %}
        <p>У вас ещё нет друзей.</p>
    {% endfor %}
    {% for friend_in in friends_in %}
        {% ifchanged %}
            <h2>Входящие заявки</h2>
        {% endifchanged %}
        <div class="friend">
            <div>
                <img src="{% static 'images/avatars/default.png' %}">
                <a href="{% url 'user:profile' friend_in.user.id %}">{{ friend_in.user }}</a>
            </div>
            <div>
                <a href="#" onclick="friend_request('{{ csrf_token }}', {{ friend_in.user.id }}, 'accept')" class="medium-button">&#10003;</a>
                <a href="#" onclick="friend_request('{{ csrf_token }}', {{ friend_in.user.id }}, 'cancel')" class="medium-button">&#10005;</a>
            </div>
        </div>
    {% endfor %}
    {% for friend_out in friends_out %}
        {% ifchanged %}
            <h2>Исходящие заявки</h2>
        {% endifchanged %}
        <div class="friend">
            <div>
                <img src="{% static 'images/avatars/default.png' %}">
                <a href="{% url 'user:profile' friend_out.friend.id %}">{{ friend_out.friend }}</a>
            </div>
            <div>
                <a href="#" onclick="friend_request('{{ csrf_token }}', {{ friend_out.friend.id }}, 'cancel')" class="medium-button">&#10005;</a>
            </div>
        </div>
    {% endfor %}
    {% include 'utils/game_buttons.htm' %}
{% endblock %}