{% extends "base.htm" %}
{% load static %}

{% block style %}user.css{% endblock %}

{% block content %}

    {% if dialog == user.id %}
        <p>Вы не можете писать сообщение самому себе!</p>
    {% else %}
        <h2>Диалог с <a href="{% url 'user:profile' userinfo.id %}">{{ userinfo.username }}</a></h2>

        <form action="" method="POST">
            {% csrf_token %}
            {{ form.message }}
            {{ form.addressee }}
            <input type="submit" value="Отправить">
        </form>
        <hr>
        {% if pages %}
            {% for page in pages.data %}
               <div class="dialog">
                   <div class="title">
                       <div class="author">
                           {% if page.author.id == user.id %}
                                <b>Вы</b>
                           {% else %}
                                <b>{{ page.author }}</b>
                           {% endif %}
                       </div>
                       <div class="time">{{ page.time|timesince }} назад</div>
                   </div>
                   <div class="text">{{ page.message }}</div>
               </div>
            {% endfor %}
            {% include 'utils/pagenator.htm' with app='user:dialog_detail' param2=dialog param1=pages %}
        {% else %}
            <p>Вы ранее не переписывались друг с другом.</p>
        {% endif %}
    {% endif %}
    <a href='{% url 'user:dialogs' %}' class="default-button">Диалоги</a>
    {% include 'utils/game_buttons.htm' %}
{% endblock %}