{% extends "base.htm" %}
{% load static %}
{% load short_format %}

{% block style %}user.css{% endblock %}

{% block content %}
    {% if auth %}
        <h2>Ваш профиль</h2>
    {% else %}
        <h2>Профиль игрока {{ player }}</h2>
    {% endif %}
    <div class="avatar">
        <img src="{% static 'images/avatars/default.png' %}">
    </div>
    <div class="username">{{ player }}</div>
    {% if player.online.online %}
        <div class="status">Сейчас&nbsp;<div class="online">онлайн</div>.</div>
    {% else %}
        <div class="status">Сейчас&nbsp;<div class="offline">оффлайн</div>.</div>
        <div class="status">Был в сети {{ player.online.text|timesince }} назад.</div>
    {% endif %}
    <div class="stats">
        <div class="stat">
            <img src="{% static 'images/income.png' %}">{{ player.statistics.income|short_format }}
        </div>
        <div class="stat">
            <img src="{% static 'images/budget.png' %}">{{ player.statistics.budget|short_format }}
        </div>
        <div class="stat">
            <img src="{% static 'images/rating.png' %}">{{ player.rating }}
        </div>
        <div class="stat">
            <img src="{% static 'images/reputation.png' %}">{{ player.statistics.reputation|short_format }} <div>{{ player.statistics.future_reputation|short_format }}</div>
        </div>
        {% if player.id == request.user.id %}
            <div class="stat">
                <img src="{% static 'images/diamond.png' %}">{{ player.diamond }}
            </div>
        {% endif %}
    </div>
    {% if player.rewards %}
        <h2>Награды</h2>
        <div class="rewards">
        {% for reward in player.rewards %}
            <div class="reward">
                <img src="{% static 'images/rewards/' %}{{ reward.file }}">
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if player.id == request.user.id %}
        <a href="{% url 'user:friends' %}" class="default-button">Друзья</a>
        <a href="{% url 'user:dialogs' %}" class="default-button">Личные сообщения</a>
        <a href="{% url 'user:statistic' %}" class="default-button">Статистика</a>
        <a href="{% url 'user:achievement' %}" class="default-button">Достижения</a>
        <a href="{% url 'game:game' %}" class="default-button">Настройки</a>
        <a href="{% url 'user:logout' %}" class="default-button">Выход</a>
    {% else %}
        <a href="{% url 'user:dialog_detail' player.id %}" class="default-button">Написать сообщение</a>
        <!-- TODO: шаблон нуждается в переработке -->
        {{ friend.username }}
        {% if friend.u_from is None and friend.to_from is None %}
            <a href="#" onclick="friend_request('{{ csrf_token }}', {{ player.id }}, 'request')" class="default-button">Добавить в друзья</a>
        {% endif %}
        {% if friend.status == True %}
            <a href="#" onclick="friend_request('{{ csrf_token }}', {{ player.id }}, 'delete')" class="default-button">Удалить из друзей</a>
        {% endif %}
        {% if friend.u_from.id == request.user.id and friend.status == False %}
             <a href="#" onclick="friend_request('{{ csrf_token }}', {{ player.id }}, 'cancel')" class="default-button">Отменить заявку в друзья</a>
        {% elif friend.u_to.id == request.user.id and friend.status == False %}
            <a href="#" onclick="friend_request('{{ csrf_token }}', {{ player.id }}, 'accept')" class="default-button">Принять заявку в друзья</a>
        {% endif %}
        <!-- end -->
        <a href="{% url 'game:game' %}" class="default-button">Пригласить в профсоюз</a>
        <hr>
        <a href="{% url 'game:game' %}" class="default-button">В чёрный список</a>
        <a href="{% url 'game:game' %}" class="default-button">Сообщить о нарушении</a>
    {% endif %}
    <hr>
    <a href="{% url 'game:game' %}" class="default-button">В Меню</a>
{% endblock %}