{% extends "base.htm" %}
{% load static %}

{% block style %}user.css{% endblock %}
{% block title %}Регистрация{% endblock %}


{% block content %}
    <h1>Регистрация</h1>
    <p>Введите данные в поля ниже, чтобы получить возможность играть в игру.</p>
    {% if messages %}

        <p class="error">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>
   {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <input type="submit" name="submit" value="Отправить">
    </form>
    <hr>
    <a href="/" class="default-button">На главную</a>

{% endblock %}