{% extends "base.htm" %}
{% load static %}
{% load humanize %}
{% load short_format %}


{% block style %}user.css{% endblock %}

{% block content %}
    <h2>Общее</h2>
    <div class="statistic">
        <div>Дата регистрации</div><div>{{ player.signup_date }}</div>
    </div>
    <div class="statistic">
        <div>Время в игре</div><div>{{ player.signup_date|timesince }}</div>
    </div>
    <div class="statistic">
        <div>Время в онлайне</div><div>{{ player.time_online|timesince }}</div>
    </div>
    <div class="statistic">
        <div>Время 100% эффективности</div><div>{{ player.efficiency_time }}</div>
    </div>
    <div class="statistic">
        <div>Время спада эффективности</div><div>{{ player.efficiency_recession }}</div>
    </div>
    {% if worker is False %}
        <p class="tips">Рекомендуем <a href="#">нанять</a> аналитика для более подробной информации о Вашей компании!</p>
    {% endif %}
    <h2>Доход</h2>
    <div class="statistic">
        <div>Текущий доход</div><div>{{ player.income|short_format }}</div>
    </div>
    {% if worker %}
        <div class="statistic">
            <div>Максимальный доход</div><div>{{ player.income|short_format }}</div>
        </div>
    {% endif %}

    <h2>Бюджет</h2>
    <div class="statistic">
        <div>Текущий бюджет</div><div>{{ player.budget|short_format }}</div>
    </div>
    {% if worker %}
        <div class="statistic">
            <div>Общий бюджет</div><div>{{ player.budget_total|short_format }}</div>
        </div>
        <div class="statistic">
            <div>Максимальный бюджет</div><div>{{ player.budget|short_format }}</div>
        </div>
        <div class="statistic">
            <div>Бюджет через минуту</div><div>{{ player.budget1m|short_format }}</div>
        </div>
        <div class="statistic">
            <div>Бюджет через час</div><div>{{ player.budget1h|short_format }}</div>
        </div>
        <div class="statistic">
            <div>Бюджет через сутки</div><div>{{ player.budget1d|short_format }}</div>
        </div>
    {% endif %}



    <h2>Репутация</h2>
    <div class="statistic">
        <div>Текущая репутация</div><div>{{ player.future_reputation|short_format }}</div>
    </div>
    {% if worker %}
        <div class="statistic">
            <div>Общая репутация</div><div>{{ player.reputation|short_format }}</div>
        </div>
        <div class="statistic">
            <div>Прирост репутации в минуту</div><div>{{ player.reputation_income|short_format }}</div>
        </div>
        <div class="statistic">
            <div>Репутация через минуту</div><div>{{ player.reputation1m|short_format }}</div>
        </div>
        <div class="statistic">
            <div>Репутация через час</div><div>{{ player.reputation1h|short_format }}</div>
        </div>
        <div class="statistic">
            <div>Репутация через сутки</div><div>{{ player.reputation1d|short_format }}</div>
        </div>
    {% endif %}
    {% include 'utils/game_buttons.htm' %}
{% endblock %}