<div class="paginator">
    <div>
        {% if param1.data.has_previous %}
            <a href="{% url app 1 %}" class="button"><<</a>
            {% if param2 %}
                <a href="{% url app param2 param1.data.previous_page_number %}" class="button"><</a>
            {% else %}
                <a href="{% url app param1.data.previous_page_number %}" class="button"><</a>
            {% endif %}
        {% else %}
            <div class="button-disabled"><<</div>
            <div class="button-disabled"><</div>
        {% endif %}
    </div>
    <div>
        {% for page in param1.data.paginator.page_range %}
            {% if param1.data.number == page %}
                <div class="button-disabled">{{ page }}</div>
            {% elif  page < param1.data.number|add:param1.plusator and page > param1.data.number|add:param1.minusator %}
                {% if param2 %}
                    <a href="{% url app param2 page %}" class="button">{{ page }}</a>
                {% else %}
                    <a href="{% url app page %}" class="button">{{ page }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {% if param1.data.has_next %}
           {% if param2 %}
                <a href="{% url app param2 param1.data.next_page_number %}" class="button">></a>
                <a href="{% url app param2 param1.data.paginator.num_pages %}" class="button">>></a>
            {% else %}
               <a href="{% url app param1.data.next_page_number %}" class="button">></a>
               <a href="{% url app param1.data.paginator.num_pages %}" class="button">>></a>
            {% endif %}
        {% else %}
            <div class="button-disabled">>></div>
            <div class="button-disabled">></div>
        {% endif %}
    </div>
</div>

