@import "normalize.css";
@import "button.css";
@import "tips.css";

:root
{
    --button-height: 50px;
    --button-width: 95%;
    --button-color: #3f70b5;
    --button-color-hover: #38629e;
    --input-height: 46px;
    --input-width: 100%;
    --input-border-color: #3f70b5;
    --site-width: 480px;
}

html
{
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;

    align-items: center;

    height: 100%;

    font-family: 'Arial';

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: #000000;
}

header
{
    display: flex;
    position: fixed;
    width: 100%;
    max-width: var(--site-width);
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 60px;
}

main
{
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    flex: 1 auto;
}

main a
{
    color: #2196F3;
}

main a:hover
{
    color: #1f75c8;
}

footer
{
    display: flex;
    width: 100%;
    max-width: var(--site-width);
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 60px;
    min-height: 60px;
}

footer div:first-child
{
    padding-left: 10px;
}

footer div:last-child
{
    padding-right: 10px;
}
/* Стандартные настройки ссылок */
a
{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover
{
    color: #e8e4e4;
}

/* Общие настройки для главных заголовков */
h1, p
{
    padding: 0px 5px 0px 5px;
}
h1
{
    text-align: center;
    font-size: 16pt;
}

/* Общие настройки для параграфов */
p
{
    text-align: center;
}

/* Сообщения об ошибках */
.error
{
    color: red;
}

/* Ограничить размер иконок в хидере */
header .info img
{
    width: 18px;
}

header .message img
{
    width: 32px;
}

/* Настройки блоков в хидере */
header .info, header .message, header .title
{
    width: 100%;
    margin: 10px;
}

header .info
{
    display: flex;
    flex-direction: column;
}

header .message
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header h1
{
    font-size: 14pt;
}

header #ajax_budget, header #ajax_income
{
    padding-top: 1px;
    padding-left: 4px;
}

header .budget, header .income
{
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
    background-size: cover;
}

header .budget
{
    background-image: url("../images/budget.png");
}

header .income
{
    background-image: url("../images/income.png");
}

header .infogroup
{
    display: flex;
}

h2
{
    font-size: 12pt;
}

/* Пагинация внизу страницы */
.paginator
{
    display: flex;
    width: 95%;
    max-width: 95%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.paginator .button
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 40px;
    color: white;
    border-radius: 10px;
    background-color: #3f70b5;
    margin-right: 1px;
}

.paginator .button-disabled
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 40px;
    color: white;
    border-radius: 10px;
    background-color: #c1c4c7;
    margin-right: 1px;
}

.paginator div
{
    display: flex;
}