/*
    Квадратная кнопка
    Используется для таких вещей, как подтверждение или отклонение в друзьях, например
 */
.medium-button
{
    width: 50px;
    background-color: #3f70b5;
    color: white;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
    border-radius: 10px;
    margin-left: 5px;
}

.medium-button:hover
{
    color: #FFFFFF;
    background-color: var(--button-color-hover);
}


/*
    Кнопка стандартных размеров
    Используется для кнопок на сайте
    Так же стили распростроняются и на поля/кнопки ввода
*/
.default-button, input[type="submit"]
{
    width: var(--button-width);
    height: 50px;

    border-radius: 10px;

    margin-bottom: 10px;

    background-color: var(--button-color);
    color: #FFFFFF;
}

input[type="submit"]
{
    border: 1px solid var(--input-border-color);
    width: 100%;
}

.default-button:hover, input[type="submit"]:hover
{
    cursor: pointer;
    background-color: var(--button-color-hover);
    color: #FFFFFF;
}

/* Центрируем ссылку и растягиваем её на всю кнопку */
.default-button
{
    display: flex;

    justify-content: center;
    align-items: center;
}

/* Базовые настройки полей ввода */
input[type="text"], input[type="password"]
{
    width: var(--input-width);
    height: var(--input-height);
    border: 1px solid var(--input-border-color);
    border-radius: 10px;
    text-align: center;

}

/* Квадратная кнопка для шахт и бригад */
.small-button
{
    display: flex;
    flex-direction: column;
    width: 45px;
    background-color: #3f70b5;
    color: white;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    border-radius: 10px;
    margin-left: 5px;
}

.small-button:hover
{
    color: #FFFFFF;
    background-color: var(--button-color-hover);
    cursor: pointer;
}