/* Лента событий в меню */
.infobox
{
    height: 300px;
    overflow-y: scroll;
    overflow-x: auto;
    margin-bottom: 10px;
    border-radius: 1px;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: darkgray;
}

.infobox a
{
    color: #2196F3;
}

.infobox p
{
    text-align: left;
    margin-left: 10px;
}


.linkbox
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating
{
    display: flex;
    width: 95%;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.rating div
{
    display: flex;
    align-items: center;
}

.rating a
{
    display: flex;
    height: 24px;
    align-items: center;
    margin-left: 3px;
}


.rating a img
{
    width: 24px;
}

.rating div:last-child img
{
    width: 24px;
    margin-right: 5px;

}

.mine
{
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #1f75c8;
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    justify-content: space-between;
    font-size: 11pt;
    color: #000000;
}

.mine .left
{
    display: flex;
    align-items: center;
    margin-left: 3px;
    width: 100%;
}

.mine .stats
{
    display: flex;
    align-items: center;
}


.mine .stats img
{
    width: 12px;
    height: 12px;
    margin-right: 2px;

}

.mine a
{
    color: #000000;
}

.mine .icon
{
    display: flex;
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

.mine .stats div
{
    margin-right: 8px;
}
.mine .left div:first-child img
{
    display: flex;
    height: 45px;
    width: 45px;
    margin-right: 5px;
}

/* Горизонтальное расположение кнопок улучшения шахты */
.mine .right
{
    display: flex;
    flex-direction: row;
    margin-right: 3px;
}


