
/* Расположить элементы формы по вертикали */
form
{
    display: flex;
    flex-direction: column;
    width: 95%;
}

input[type="submit"]
{
    margin-top: 10px;
}

/* Добавить отступы для полей ввода */
input[type="text"], input[type="password"]
{
    margin-bottom: 10px;
    margin-top: 10px;
}

.msg
{
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg a
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.msg a:hover
{

}
.msg img
{
    height: 32px;
    margin-right: 10px;
}

.message-group
{
    display: flex;
    align-items: center;
}

/* Просмотр конкретного диалога */
.dialog
{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 30px;
}

.dialog .title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: papayawhip;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.dialog .text
{
    margin-top: 5px;
    margin-left: 10px;
}

textarea
{
    border-radius: 10px;
    height: 100px;
}


/* На странице профиля */
.avatar
{
    margin-bottom: 10px;
}
.avatar img
{
    height: 64px;
    width: 64px;
}

.username
{
    font-weight: bold;
    margin-bottom: 5px;
}

.status
{
    display: flex;
    margin-bottom: 10px;
}


.status .online
{
    color: #25b54b;
}

.status .offline
{
    color: #e10000;
}

.stats
{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 10px;

}

 .artefacts
 {
     display: flex;
     width: 95%;
     margin-bottom: 10px;
     flex-wrap: wrap;
 }

.stats .stat
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artefacts .artefact
{
    margin-right: 8px;
}

.stats .stat img, .artefacts .artefact img
{
    margin-bottom: 5px;
    width: 32px;
}

.rewards
{
    display: flex;
    width: 95%;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.reward
{
    margin-right: 8px;
}

.reward img
{
    margin-bottom: 5px;
    width: 48px;
}

.friend
{
    display: flex;
    width: 95%;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.friend img
{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.friend div
{
    display: flex;
    align-items: center;
}

.statistic
{
    display: flex;
    width: 95%;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.achievement
{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.achievement img
{
    width:  48px;
    height: 48px;
}

.achievement div
{
    display: flex;
}

.achievement div div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 10px;
}

.achievement div div p
{
    margin: 0;
    padding: 0;
}
.achievement .item
{
    margin: 0;
    padding: 0;
}

.achievement div div img
{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.achievement .left
{
    width: 83%;
}

.achievement .right
{
    width: 17%;
}