{% extends "base.htm" %}
{% load static %}
{% load paginator_offset %}
{% load short_format %}
{% load multiply %}

{% block style %}game.css{% endblock %}

{% block content %}
    <h2>Список бригад</h2>
    <a href="#" onclick="brigade_create('{{ csrf_token }}','{{ mine_id }}')" class="default-button">Сформировать бригаду ({{ last_price|short_format }})</a>
    {% for brigade in brigades.data %}
        <a href="#" class="mine">
            <div class="left">
                <div>
                    <img src="{% static 'images/brigades/' %}{{ brigade.icon }}" class="icon">
                </div>
                <div>
                    <div>Бригада #{{ forloop.counter }}</div>
                    <div class="stats">
                        <img src="{% static 'images/brigades/worker.png' %}"><div>{{ brigade.worker }}</div>
                        <img src="{% static 'images/mines/income.png' %}"><div>{{ brigade.income }}</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="small-button" onclick="brigade_upgrade('{{ csrf_token }}', {{ mine_id }}, {{ brigade.brigade_id }}, '1')">
                    <div>1</div>
                    <div>{{ brigade.recruit_worker_cost|short_format }}</div>
                </div>
                <div class="small-button" onclick="brigade_upgrade('{{ csrf_token }}', {{ mine_id }}, {{ brigade.brigade_id }}, '10')">
                    <div>10</div>
                    <div>{{ brigade.recruit_worker_cost|multiply:10|short_format}}</div>
                </div>
                <div class="small-button">
                    <div>U</div>
                    <div>10k</div>
                </div>
            </div>
        </a>
    {% endfor %}
    {% include 'utils/pagenator.htm' with app='game:brigade' param1=brigades param2=mine_id %}
    <a href="{% url 'game:mine' %}" class="default-button">Шахты</a>
    <a href="{% url 'game:game' %}" class="default-button">Главное меню</a>
{% endblock %}