{% extends "base.htm" %}
{% load static %}

{% block style %}game.css{% endblock %}

{% block content %}
    <h2>Лента событий</h2>
    <div class="infobox">
        {% for action in actions %}
            <p>{{ action.time|date:"d.m.y H:i" }} {% autoescape off %}{{ action.action }} {% endautoescape %}</p>
        {% endfor %}
    </div>
    <div class="linkbox">
        <h2>Общее</h2>
        <a href="{% url 'user:profile' %}" class="default-button">Профиль</a>
        <a href="{% url 'user:logout' %}" class="default-button">Форум</a>
        <a href="{% url 'game:rating' %}" class="default-button">Рейтинги</a>
        <a href="{% url 'user:logout' %}" class="default-button">Магазин</a>
        <h2>Компания</h2>
        <a href="{% url 'game:mine' %}" class="default-button">Шахты</a>
        <a href="{% url 'user:logout' %}" class="default-button">Сотрудники</a>
        <a href="{% url 'user:logout' %}" class="default-button">Профсоюзы</a>
        <a href="{% url 'user:logout' %}" class="default-button">Артефакты</a>
        <h2>Другое</h2>
        <a href="{% url 'user:logout' %}" class="default-button">Новости</a>
        <a href="{% url 'user:logout' %}" class="default-button">Правила</a>
        <a href="{% url 'user:logout' %}" class="default-button">Помощь</a>
    </div>
{% endblock %}