{% extends "base.htm" %}
{% load static %}
{% load paginator_offset %}
{% load short_format %}
{% load multiply %}

{% block style %}game.css{% endblock %}

{% block content %}
    <h2>Список шахт</h2>
    <a href="#" onclick="mine_request('{{ csrf_token }}', 'build')" class="default-button">Построить шахту ({{ last_price|short_format }})</a>
    {% for mine in mines.data %}
        <div class="mine">
            <a href="{% url 'game:brigade' mine.mine_id %}" class="left">
                <div>
                    <img src="{% static 'images/mines/' %}{{ mine.icon }}" class="icon">
                </div>
                <div>
                    <div>{{ mine.name }}</div>
                    <div class="stats">
                        <img src="{% static 'images/mines/percent.png' %}"><div>{{ mine.percent_income }}</div>
                        <img src="{% static 'images/mines/shovel4.png' %}"><div>{{ mine.depth }}</div>
                        <img src="{% static 'images/mines/income.png' %}"><div>{{ mine.income_percent|short_format }}</div>
                    </div>
                </div>
            </a>
            <div class="right">
                <div class="small-button" onclick="mine_request('{{ csrf_token }}', 'upgrade', '1', {{ mine.id }})">
                    <div>1</div>
                    <div>{{ mine.dig_cost|short_format }}</div>
                </div>
                <div class="small-button" onclick="mine_request('{{ csrf_token }}', 'upgrade', '10', {{ mine.id }})">
                    <div>10</div>
                    <div>{{ mine.dig_cost|multiply:10|short_format }}</div>
                </div>
                <div class="small-button">
                    <div>U</div>
                    <div>10k</div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'utils/pagenator.htm' with app='game:mine' param1=mines %}
    <a href="{% url 'game:game' %}" class="default-button">Главное меню</a>
{% endblock %}